html, body {
	overflow: hidden;
    height: 100%;
	background-color: #0F1119;
	background: radial-gradient(ellipse at center, rgb(13, 70, 134) 4%,rgb(3, 24, 41) 90%);
	perspective : 2000px;
	perspective-origin : 50% 50%;
	transform-style : preserve-3d;
}
